.bill-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: #c1c5f2;
  height: 100vh;
}
.bill-body {
  width: 98%;
  height: 90%;
  background-color: #ffff;
  margin-top: 18px;
  margin-right: 12px;
  margin-left: 32px;
  border-radius: 20px;
  padding-top: 12px;
}
.bill-header-gr {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 12px 30px;
}
.bill-header {
  font-size: 25px;
}

.bill-content {
}

.bill-table-data {
  margin: 12px;
  border: 1px solid #ccc; /* Đường viền */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
